<package-def>
	<class name="Тест" file="src/Классы/КомандаТест.os"/>
	<class name="МенеджерОбработкиДанных" file="src/Классы/МенеджерОбработкиДанных.os"/>
	<class name="ПоискНастроекКластера" file="src/Классы/ПоискНастроекКластера.os"/>
	<class name="ЧтениеКаталога" file="src/Классы/ЧтениеКаталога.os"/>
	<class name="ЧтениеСкобкоФайла" file="src/Классы/ЧтениеСкобкоФайла.os"/>
	<class name="ЧтениеЖР" file="src/Классы/ЧтениеЖР.os"/>
	<class name="ЧтениеСловаряЖР" file="src/Классы/ЧтениеСловаряЖР.os"/>
	<class name="ЧтениеСпискаИБ" file="src/Классы/ЧтениеСпискаИБ.os"/>
	<class name="ЧтениеЗамераПроизводительности" file="src/Классы/ЧтениеЗамераПроизводительности.os"/>
	<class name="ЧтениеОтчетаПоВерсиямХранилища" file="src/Классы/ЧтениеОтчетаПоВерсиямХранилища.os"/>
	<class name="ФильтрДанных" file="src/Классы/ФильтрДанных.os"/>
	<class name="ВыводДанныхВКонсоль" file="src/Классы/ВыводДанныхВКонсоль.os"/>
	<class name="ВыводДанныхВФайлJSON" file="src/Классы/ВыводДанныхВФайлJSON.os"/>
	<class name="ВыводДанныхВЭластик" file="src/Классы/ВыводДанныхВЭластик.os"/>
	<class name="ВыводДанныхВClickhouse" file="src/Классы/ВыводДанныхВClickhouse.os"/>
	<module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
</package-def>