<package-def>
	<class name="Тест" file="Классы/КомандаТест.os"/>
	<class name="МенеджерОбработкиДанных" file="Классы/МенеджерОбработкиДанных.os"/>
	<class name="ПоискНастроекКластера" file="Классы/ПоискНастроекКластера.os"/>
	<class name="ЧтениеКаталога" file="Классы/ЧтениеКаталога.os"/>
	<class name="ЧтениеСкобкоФайла" file="Классы/ЧтениеСкобкоФайла.os"/>
	<class name="ЧтениеЖР" file="Классы/ЧтениеЖР.os"/>
	<class name="ЧтениеСловаряЖР" file="Классы/ЧтениеСловаряЖР.os"/>
	<class name="ЧтениеСпискаИБ" file="Классы/ЧтениеСпискаИБ.os"/>
	<class name="ЧтениеЗамераПроизводительности" file="Классы/ЧтениеЗамераПроизводительности.os"/>
	<class name="ЧтениеОтчетаПоВерсиямХранилища" file="Классы/ЧтениеОтчетаПоВерсиямХранилища.os"/>
	<class name="ФильтрДанных" file="Классы/ФильтрДанных.os"/>
	<class name="ВыводДанныхВКонсоль" file="Классы/ВыводДанныхВКонсоль.os"/>
	<class name="ВыводДанныхВФайлJSON" file="Классы/ВыводДанныхВФайлJSON.os"/>
	<class name="ВыводДанныхВЭластик" file="Классы/ВыводДанныхВЭластик.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
</package-def>